@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap');
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: 'DM Sans', sans-serif;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

body {
    font-size: .875rem;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #eff0f3;
}

.sidebar-header {
    font-weight: bolder;
}

.sidebar .disabled {
    color: rgb(100, 100, 100);
}

.card-header {
    background-color: transparent;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d9dff3;
}

.scrollarea {
    overflow-y: auto;
}